.body-reload {
  /* background-color: #f4f4f4; */
  margin-left: 80px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-reload {
  display: flex;
  /* background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 15px;
  width: 75%;
  margin-top: 10px;
}

.inputs-reloads {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-right: 20px;
}

.inputs-reloads label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.inputs-reloads select,
.inputs-reloads input,
.inputs-reloads button,
.inputs-reloads .date-picker {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputs-reloads .date-picker {
  margin-top: 10px;
}

.inputs-reloads button {
  background-color: #1c1a2f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.inputs-reloads button:hover {
  background-color: #423e6e;
}
.resumo-reload1 {
  flex: 1;
}

.resumo-reload1 h4 {
  color: #000000;
  margin-bottom: 10px;
}

.resumo-reload1 h2 {
  color: #000000;
  margin-top: 20px;
}

.resumo-reload {
  flex: 1;
  overflow-y: scroll; /* Adiciona barra de rolagem vertical quando necessário */
  margin-top: 20px;
  border-spacing: 0; /* Remove espaçamento entre as células da tabela */
  max-height: 350px; /* Ajuste conforme necessário */
}

/* Estilizando a barra de rolagem */
.resumo-reload::-webkit-scrollbar {
  width: 6px;
}

.resumo-reload::-webkit-scrollbar-thumb {
  background-color: #1c1a2f; /* Cor preta para a barra de rolagem */
  border-radius: 10px;
  width: 6px;
}

.resumo-reload::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.resumo-reload table {
  width: 100%;
}

.resumo-reload table th,
.resumo-reload table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  margin: 0;
}

.resumo-reload table th {
  background-color: #1c1a2f;
  color: #fff;
}

.resumo-reload table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.resumo-reload table tbody tr:hover {
  background-color: #ddd;
}
