.body-admin-home {
  margin-left: 80px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-admin-home {
  padding: 15px;
  width: 75%;
}

.h1-home-admin {
  text-align: center;
  color: #000000;
}

.h2-home-admin {
  text-align: center;
  color: #000000;
  padding-top: 30px;
}

.h3-home-admin {
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 5px;
  padding-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-align: center;
}

th {
  background-color: #1c1a2f;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}