.body-master {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.body-reset {
  background-color: #fff;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #000000;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.button-reset {
  background-color: #1c1a2f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-reset:hover {
  background-color: #423e6e;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.body-reset img {
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Isso manterá a proporção da imagem */
}
